
<h3 class="home_page_greeting">Hi, <%= current_user.username if current_user %>! Welcome to our store. </h3>

<p><%#= link_to "Login", new_user_session_path %> <%#= link_to "Sign Up", new_user_registration_path %> <%#= link_to "User Show Page", user_path(current_user) if current_user %> </p>

<br>
<div id="tool-container">

  <% @tools.each do |tool| %>
  <ul>
    <h3 class="tool_header_name"><%= link_to "#{tool.name}", '#', id: 'show-tool', data: {tool_id: tool.id}%></h3>

    <section class="tool_image_description_container">
      <div class="tool_image">
        <%= image_tag(tool.image, size: "150x150",  alt: tool.image) %>
      </div>

      <li class='tool_price'>Rental Price Per Day: <%= "$#{tool.rental_price}" %></li>
      <li class="tool_condition">Condition: <%= tool.condition %></li>
      <li calss="tool_brand">Brand: <%= tool.brand %></li>
      <li class="tool_description">Description: <%= tool.description %></li>
      <li class="tool_category">Category: <%= tool.category %></li>

  </section>
    <div class="tool_button_check_avail">
      <%= button_to "Check Availability", new_tool_rental_path(tool), method: :get if user_signed_in? %>
    </div>

    <%= link_to "Instore - click to rent", '#', id: 'discount-rental', data: {tool_id: tool.id} if user_signed_in? && !tool.rental_in_progress%>

    <div id="formDiscountRental-<%= tool.id %>">
    </div>

    <div class="tool-calendar" style="display: none">
      <% if current_user %>
        <%= month_calendar do |date| %>
          <div class=<%="today_highlight" if date_scheduled_for_rent?(current_user.id, tool.id, date) || date == Date.today %>> <%= date.strftime("%e") %></div>
        <% end %>
      <% end %>
    </div>

  </ul>
  <% end %>
</div>



<div class="hidden" style="display: none">
  <%#= render partial: 'rentals/form', locals: {user_rental: Rental.new(start_date: Date.today, return_date: Date.tomorrow)} %>
  <%= form_tag rentals_path do %>
  <%= label_tag(:start_date) %>
  <%= date_field_tag(:"rental[start_date]", Date.today, required: true) %>
 <br>
  <%= label_tag(:return_date) %>
  <%= date_field_tag(:"rental[return_date]", Date.tomorrow, required:true) %>
  <br>
  <%= label_tag(:checkout) %>
  <%= check_box_tag(:"rental[checkout]", {}, checked = true) %>
  <br>
  <%= submit_tag('Confirm Rent') %>
<% end %>
</div>
