<h1>Tools#index</h1>

<% @tools.each do |tool| %>
<ul>
  <li><%= tool.name %></li>
  <li><%= tool.category %></li>
  <li><%= tool.brand %></li>
  <li><%= tool.description %></li>
  <li><%= tool.condition %></li>
  <li><%= tool.availability %></li>
</ul>
<% end %>
