<h3>Hi, <%= current_user.username if current_user %>! Welcome to our store. </h3>

<p><%#= link_to "Login", new_user_session_path %> <%#= link_to "Sign Up", new_user_registration_path %> <%#= link_to "User Show Page", user_path(current_user) if current_user %> </p>

<br>

<% @tools.each do |tool| %>

<ul>
  <h3><%= tool.name %></h3>

  <div class="tool_image">
    <%= image_tag(tool.image, size: "150x150",  alt: tool.image) %>
  </div>

  <li>Category: <%= tool.category %></li>
  <li>Brand: <%= tool.brand %></li>
  <li>Description: <%= tool.description %></li>
  <li>Condition: <%= tool.condition %></li>
  <li>Rental Price Per Day: <%= "$#{tool.rental_price}" %></li>

  <%= button_to "Rent", new_tool_rental_path(tool), method: :get if user_signed_in? %>
  <%= link_to "Discount Rental - Next Day Return", '#', id: 'discount-rental', data: {tool_id: tool.id} if user_signed_in? %>
</ul>

<% end %>
