<h3>Here is all the Tools for rental</h3>

<% @tools.each do |tool| %>
<ul>
  <li><%= tool.name %></li>
  <li><%= tool.category %></li>
  <li><%= tool.brand %></li>
  <li><%= tool.description %></li>
  <li><%= tool.condition %></li>
  <li><%= tool.availability %></li>
</ul>
<% end %>

<p>Please login or Sign up for tools rental</p>
