<h3><%= @tool.name %></h3>

<li>Category: <%= @tool.category %></li>
<li>Brand: <%= @tool.brand %></li>
<li>Description: <%= @tool.description %></li>
<li>Condition: <%= @tool.condition %></li>
<li>availability: <%= @tool.availability %></li>

<br>

<%= button_to "Rent", new_tool_rental_path(@tool), method: :get if user_signed_in? %>
