<h3>Hello <%= @user.email %>!</h3>

<h4>Here are the tools you rented:</h4>

  <% @user.rentals.each do |rental| %>
  <ul>
  <h4><%= rental.tool.name %></h4>

  <li>Rented at: <%= rental.start_date %></li>
  <li>Return at: <%= rental.return_date %></li>
  <li>Total Cost: <%= Tool.find_by(id: rental.tool_id).rental_price %></li>

  <%= button_to "Return Tool", tool_rental_path(rental.tool, current_user), method: :patch %>

  </ul>
  <% end %>
