<h3>Hello <%= @user.username %>!</h3>

<h4>Here are the tools you currently renting:</h4>

  <% @in_progress.each do |rental| %>
  <ul>
    <h4><%=rental.tool.name %></h4>
    <li>Rented on: <%=rental.start_date.strftime("%a, %b %e, %Y") %></li>
    <li>Scheduled Return on: <%=rental.return_date.strftime("%a, %b %e, %Y") %></li>
    <%= button_to "Return Tool", tool_rental_path(rental.tool, current_user), method: :patch %>
  </ul>
  <% end %>

  <br>

<h4 style="color:red">Your rented tools Overdue. Please update the rental the return date:</h4>
  <ul>
    <% @overdue_items.each do |rental|  %>
      <h4><%= rental.tool.name %></h4>
      <li>Return Date: <%= rental.return_date.strftime("%a, %b %e, %y") %></li>
      <li>Dates overdued: (work in progress) <%#= Date.today - rental.return_date %> </li>

    <% end %>
  </ul>
<br>

<h4>Here are your tools rental history:</h4>
<ul>
  <% @past_rented_tools.each do |rental|  %>
    <h4><%= rental.tool.name %></h4>
    <li>Returned on: <%= rental.return_date %></li>
  <% end %>
</ul>
