<div class="user_rental_page">

  <div class="jumbotron">
    <div class="container">
      <h1><%= current_user.username %>'s Store Account</h1>
       <% if @overdue_items.first %>
         <p style="color:maroon">Your have following tools Overdued. Please return or renew your rentals. Thanks!</p>
         <% else %>
         <h4>All your rentals were returned on time. Thanks!</h4>
       <% end %>

       <% @overdue_items.each do |rental|  %>
        <div class="tool_unreturned">
           <div class="tool_image_unreturned">
             <%= image_tag(rental.tool.image, size: "100x100",  alt: rental.tool.image) %>
           </div>

           <li class="tool_name_unreturned">Tool Name: <%= rental.tool.name %></li>
           <li class="tool_date_unreturned">Return Date: <%= display_return_date(rental) %></li>
           <li class="tool_date_overdued">Overdued: <%= pluralize(rental.overdued_dates, "Day") %></li>

          <div class="tool_overdued_return_bt">
            <%= button_to "Return",  tool_rental_path(rental.tool, rental), method: :patch %>
          </div>
        </div>
       <% end %>
        <br>
        <br>
      <div>
        <%= link_to "Montly Report Email", profile_monthly_path, class: "btn btn-primary btn-lg" %>
      </div>

    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Currently Renting</h3>
            <% @in_prossession.each_with_index do |rental, index| %>
              <div class="tool_status_container">
                <div class="tool_image tool_status_image">
                  <%= image_tag(rental.tool.image, size: "120x120",  alt: rental.tool.image) %>
                </div>

                <p class="tool_status_name"><%=index+1%>. <%=rental.tool.name %></p>
                <p class="tool_status_start">Start: <%= display_start_date(rental)%></p>
                <p class="tool_status_return">Return: <%= display_return_date(rental)%></p>
                <div class="tool_status_cancel_bt">
                  <%= button_to "Return", tool_rental_path(rental.tool, rental), method: :patch %>
                </div>
                <div class="tool_status_reschedule_bt">
                  <%= button_to "Reschedule", edit_tool_rental_path(rental.tool, rental), method: :get %>
                </div>

              </div>
            <% end %>
        </div>
        <div class="col-md-4">
          <h3>Scheduled for Renting</h3>
            <% @scheduled_rentals.each_with_index do |rental,index| %>
              <div class="tool_status_container">
                <div class="tool_image tool_status_image">
                  <%= image_tag(rental.tool.image, size: "120x120",  alt: rental.tool.image) %>
                </div>

                <p class="tool_status_name"><%=index+1%>. <%= rental.tool.name %></p>
                <p class="tool_status_start">Start: <%= display_start_date(rental) %></p>
                <p class="tool_status_return">Return: <%= display_return_date(rental)%></p>
                <div class="tool_status_cancel_bt">
                  <%= button_to "Cancel", tool_rental_path(rental.tool, rental), method: :patch %>
                </div>
                <div class="tool_status_reschedule_bt">
                  <%= button_to "Reschedule", edit_tool_rental_path(rental.tool, rental), method: :get %>
                  <%#= button_to "Checkout", checkout_path(rental), method: :patch %>
                </div>

              </div>
            <% end %>
        </div>

        <div class="col-md-4">
          <h3>Forget to checkout</h3>

            <% @forget_checkout.each_with_index do |rental, index| %>
              <div class="tool_status_container">
                <div class="tool_image tool_status_image">
                  <%= image_tag(rental.tool.image, size: "120x120",  alt: rental.tool.image) %>
                </div>
                <p class="tool_status_name"><%=index+1 %>. <%=rental.tool.name %></p>
                <p class="tool_status_start">Start: <%= display_start_date(rental) %></p>
                <p class="tool_status_return">Return: <%= display_return_date(rental)%></p>
                <div class="tool_status_cancel_bt">
                  <%= button_to "Cancel", tool_rental_path(rental.tool, rental), method: :patch %>
                </div>
                <div class="tool_status_reschedule_bt">
                  <%= button_to "Reschedule", edit_tool_rental_path(rental.tool, rental), method: :get %>
                  <%#= button_to "Checkout", checkout_path(rental), method: :patch %>
                </div>

              </div>
            <% end %>

        </div>
        <div class="col-md-4">
          <div class="fall-below" id="rentals-history">
            <h3><%= link_to 'Please click here for your rentals history:', rentals_path %></h3>
          </div>
          <table>
            <thead>
              <th>Item</th>
              <th>Name</th>
              <th>Start</th>
              <th>Return</th>
            </thead>
            <tbody id="list-rentals-history">

            </tbody>
          </table>
        </div>

      </div>
    </div>

</div>
