<h3>Hello <%= @user.email %>!</h3>

<h4>Here are the tools you rented:</h4>

  <% @user.rentals.each do |rental| %>
  <ul>
    <% if rental.return == false %>
      <h4><%= rental.tool.name %></h4>

      <li>Rented on: <%= rental.start_date %></li>
      <li>Return on: <%= rental.return_date %></li>
      <li>Total Cost: <%= Tool.find_by(id: rental.tool_id).rental_price %></li>

      <%= button_to "Return Tool", tool_rental_path(rental.tool, current_user), method: :patch %>

    <% end %>
  </ul>
  <% end %>

  <h4>Here are your past tools rental:</h4>

  <% @user.tools.each do |tool|  %>

    <h4><%= tool.name %></h4>
    <li>Returned on: <%= tool.past_rental_date(@user) %></li>

  <% end %>
