<h3>Hello <%= @user.email %>!</h3>

<h4>Here are the tools you rented:</h4>

  <% @user.rentals.each do |rental| %>
  <ul>
    <% if rental.return == false %>
      <h4><%= rental.tool.name %></h4>

      <li>Rented on: <%= rental.start_date.strftime("%a, %b %e, %y") %></li>
      <li>Return on: <%= rental.return_date.strftime("%a, %b %e, %y") %></li>
      <li>Total Cost: <%= Tool.find_by(id: rental.tool_id).rental_price %></li>

      <%= button_to "Return Tool", tool_rental_path(rental.tool, current_user), method: :patch %>

    <% end %>
  </ul>
  <% end %>

<h4 style="color:red">Your rented tools Overdue. Please update the rental the return date:</h4>
  <ul>
    <% @overdue_items.each do |rental|  %>
      <h4><%= rental.tool.name %></h4>
      <li>Return Date: <%= rental.return_date.strftime("%a, %b %e, %y") %></li>
      <li>Dates overdued: (work in progress) <%#= Date.today - rental.return_date %> </li>

    <% end %>
  </ul>
<br>

<h4>Here are your tools rental history:</h4>
<ul>
  <% @user.rentals.each do |rental|  %>
    <h4><%= rental.tool.name %></h4>
    <li>Returned on: <%= rental.return_date %></li>
  <% end %>
</ul>
