
<h4>Please update your rental date</h4>

<% if @rental.errors %>
  <% @rental.errors.full_messages.each do |message| %>
    <p class="<%='field_with_errors'%>"><%= message %></p>
  <% end %>
<% end %>

<%= form_for(@rental, url: reschedule_return_tool_rental_path(@rental.tool, @rental)) do |f|  %>

  <%= f.label(:start_date) %>
  <%= f.date_field(:start_date) %>

  <%#= f.text_field(:start_date, placeholder: "MM/DD/YYYY", required: true) %>
  <%#= f.text_field(:start_date, value: Date.today.strftime("%a. %B %d, %Y"), required: true) %> <br>

  <%= f.label(:return_date) %>
  <%= f.date_field(:return_date) %> <br>

<!-- </div> -->
  <%= f.label(:return) %>
  <%= f.radio_button :return, @rental.return, :checked => false %>
  <%#= f.hidden_field(:user_id, value: current_user.id) %><br>
  <%#= f.hidden_field(:tool_id, value: user_rental.tool.id) %><br>
  <%= f.submit('Reschedule Return') %>

<% end %>

<%#= render partial: 'form', locals: {user_rental: @rental} %>
