
<div class="jumbotron">
  <h3 class="display-4">Hello, <%= current_user.username %>!</h3>
  <p class="lead">Thanks for choosing the <em><%= @rental.tool.name %></em></p>
  <hr class="my-4">

  <p>Please ensure the <em>dates</em> on this form are correct to complete your checkout!</p>

  <%= render partial: 'form', locals: {user_rental: @rental} %>

</div>

<div class="">
  <h4>Tools Availability dates displayed in calendar</h4>
    <%= month_calendar do |date| %>
    <%#= binding.pry %>
      <div class=<%="today_highlight" if date == Date.today %>> <%= date.strftime("%e") %></div>
    <% end %>
</div>
