
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        <h3 class="display-4">Hello, <%= current_user.username %>!</h3>
        <p class="lead">Thanks for choosing the <em><%= @rental.tool.name %></em></p>
        <hr class="my-4">
        <% if @rental.errors %>
          <% @rental.errors.full_messages.each do |message| %>
            <p class="<%='field_with_errors'%>"><%= message %></p>
          <% end %>
        <% end %>
        <p>Please ensure the <em>dates</em> on this form are correct to complete your checkout!</p>
        <%= render partial: 'form', locals: {user_rental: @rental} %>
      </div>
    </div>

    <div class="col-sm-6">
      <h4>Tools are booked on dates highlighted</h4>
        <%= month_calendar do |date| %>
          <div class=<%="today_highlight" if date_scheduled_for_rent?(current_user.id, @rental.tool_id, date) || date == Date.today %>> <%= date.strftime("%e") %></div>
        <% end %>
    </div>
  </div>
</div>
